{% extends 'header.html' %}
<body>

{% block body %}

<head>
	<title>Edit {{ restaurant.name }}.</title>
</head>


<div class="container" align="middle">
	<h4>Enter new name for <b>{{ restaurant.name }}</b>.

			{% from "_formhelpers.html" import render_field %}
			<form method=post action="" style="margin-bottom:5em;">
				<dl>
					{{render_field(form.new_name)}}
				</dl>
				<p><input class="btn btn-primary" type=submit value=Submit></p>
			</form>
		</div>


{% endblock %}

</body>

</html>
